{% extends 'base.html' %}

{% block title %} Services {% endblock title %}
{% block nav %}
                   
                          <ul class="nav">
                            <li><a href="/index" >Home</a></li>
                            <li><a href="/#features">About</a></li>
                             <li><a href="/#pricing-plans">Services</a></li>
                            <li><a href="/#work-process">Work Process</a></li>
                            <li><a href="/#testimonials">Testimonials</a></li>
                            <li><a href="/#contact-us">Contact Us</a></li>
                            <li><a href="/accounts/login "><b class="getstarted">Login </b></a></li>
                        </ul>

{% endblock nav %}

{% block body %}
   <!-- ***** Contact Us Start ***** -->
        <section class="section colored" id="contact-us">
            <div class="container">
                <!-- ***** Section Title Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="center-heading">
                            <h2 class="section-title">Register Now</h2>
                        </div>
                    </div>
                    <div class="offset-lg-3 col-lg-6">
                        <div class="center-text">
                            <p>Join us to access full features of our services</p>
                        </div>
                    </div>
                </div>
         

         
            <a href="{% url 'doctor_register' %}" class="btn btn-primary"> Register as Doctor </a>
              <a href="{% url 'patient_register' %}" class="main-button">  Register as Patient </a>
         
                    <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->
                {% comment %} <div class="center-div col-lg-8 col-md-6 col-sm-12 ">
                    <div class="contact-form">
                        <form id="contact" action="registration" method="POST">
                        {% csrf_token %}
                          <div class="row custom-center-fields">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="first_name" type="text" class="form-control" id="name" placeholder="First Name" required="">
                              </fieldset>
                               <fieldset>
                                <input name="last_name" type="text" class="form-control" id="name" placeholder="Last Name" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="username" type="text" class="form-control" id="email" placeholder="Username" required="">
                
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="password" type="password" class="form-control" id="email" placeholder="Password" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="c_password" type="password" class="form-control" id="email" placeholder="Confirm Password" required="">
                              </fieldset>
                            </div> {% endcomment %}
                            {% comment %} <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="cnic" type="number" class="form-control" id="email" placeholder=" cnic" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="mobile" type="phone" class="form-control" id="email" placeholder="mobile " required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="address" type="Address" class="form-control" id="email" placeholder="address " required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="p_img" type="image" class="form-control" id="email" placeholder="p_img " required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="degree" type="image" class="form-control" id="email" placeholder="degree" required="">
                              </fieldset>
                            </div> {% endcomment %}
                           {% comment %} {% if messages %}
                  {% for message in messages %}
                    <div class= "alert text-center alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" > <span aria-hidden="hidden"> &times;</span> </button>
                      {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Register</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div> {% endcomment %}
                <!-- ***** Contact Form End ***** -->
                
            </div>
        </div>
    </section>



{% endblock body %}